<div>
  <div class="row">
    <div class="col col-lg-2">
      Partido:
    </div>
    <div class="col col-lg-4">
      <select class="form-select form-select-lg mb-3" [(ngModel)]="partidoSeleccionada"
        aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option *ngFor="let partido of partidos" [value]="partido">{{partido.nombre}}</option>
      </select>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <button (click)="asignarPartido()" type="button" class="btn btn-primary">Asignar</button>
    </div>
  </div>
</div>
