<h4 class="mb-3">Lista de candidatos</h4>
<button type="button" class="btn btn-success" (click)="agregar()">
  <i class="fas fa-plus"></i>
</button>
<table class="table">
  <thead>
    <tr>
      <th *ngFor="let columna of nombresColumnas">{{columna}}
      </th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <ng-container *ngFor="let candidatos of candidato">
      <tr>
        <td>{{candidatos.cedula}}</td>
        <td>{{candidatos.nombre}}</td>
        <td>{{candidatos.apellido}}</td>
        <td>{{candidatos.numeroResolucion}}</td>
        <td>{{candidatos.partido.nombre}}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="asignarPartido(candidatos._id)">
            <i class="fas fa-pencil-alt"></i>
          </button>
          <br>
          <button type="button" class="btn btn-primary" (click)="editar(candidatos._id)">
            <i class="fas fa-pencil-alt"></i>
          </button>
          <br>
          <button type="button" class="btn btn-danger" (click)="eliminar(candidatos._id)">
            <i class="fas fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
